body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }

  .bg-5 { 
      background-color: #0c1420; /* Green */
  }

  .container-fluid {
      background-color: #000000;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }

  .navbar {
      padding-top: 4px;
      padding-bottom: 4px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      background-color: #060b12;
  }
  .navbar-nav  li a:hover {
      color: #07916d !important;

  }
  .jumbotron {
      background-color: #0c1420;
      color: #fff;
      padding: 50px 25px;
      font-family: Montserrat, sans-serif;
  }

  
  .container-fluid2 {
      background-color: #060b12;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }

  