<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  {% load static %}

  <link rel="shortcut icon" type="image/png" href="{% static "turmaApp/img/favicon.png" %}">
  
  <title>Bem - Vindo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="{% static 'turmaApp/telaInicial.css' %}" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

      <div class="col-sm-4">  
        <span class="glyphicon glyphicon-cog logo-nav">Gertur</span>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'escola:lista_turma'%}"><strong>TURMAS</strong> </a></li>
        <li><a href="{% url 'escola:lista_professor' %}"><strong>PROFESSORES</strong></a></li>
        <li><a href="{% url 'escola:lista_aluno' %}"><strong>ALUNOS</strong></a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">

  <h1>GERTUR-ENSINO MÉDIO</h1> 
  <p>Aplicação especializada no gerenciamento de turmas do ensino médio</p> 
    <div>
      <img src="{% static "turmaApp/img/sala.jpg" %}" alt="image" height="320" width="830"/>
    </div>
        
</div>

<!-- Container (About Section) -->
<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-list-alt logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Descrição do Projeto</h2><br>
      <h4><strong>OBJETIVO:</strong> Este é o projeto de um sistema que permite realizar o cadastro de turmas, alunos e professores, permitindo assim adicionar os alunos à suas respectivas turmas e também os professores às possíveis turmas que ele irá ministrar aulas. O projeto foi desenvolvido com a linguagem de programação Python com a utilização do framework Django e Bootstrap.</h4>

    </div>
  </div>
</div>

<!-- Add Google Maps -->
<div id="map" style="height:400px;width:100%;"></div>
 <script>
      function initMap() {
        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -10.177122, lng: -48.361150},
          zoom: 15,
          styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
        });
        var marker = new google.maps.Marker({
          map: map
        });
      }
  </script>
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvPXpZRJRAeXN96q4-TCmDHTW_5UwTcLo&callback=initMap"> </script>

<!--

To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<footer class="container-fluid2 text-center">
          <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up" style="color: #FFFFFF"></span>
          </a>
          <p style="color: #FFFFFF"> Sistema Gerenciador de Turmas - Copyright &copy; 2018 - Todos os Direitos Reservados - Desenvolvido por: Jhonatan Sousa Santiago<br/> 

          <a class="link" href="http://ww2.uft.edu.br/" target="_blank">Universidade Federal do Tocantins - </a> 

          <a class="link" href="https://palmas.uft.edu.br/grad/ccomp/" target="_blank" >Ciência da Computação </a> </p>

</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>






