{% include "turmaApp/menu.html" %}


<form action="{% url 'escola:pesquisa_aluno' %}"   method="GET" >


    <div class="jumbotron text-center">
      <h1 class="margin">Lista de Alunos</h1>
    </div>

    <div class="form-group" style="padding-top: 1%">
            <div class="input-group"><!--Estava faltando essa div-->
                <input type="text" class="form-control" name="pesquisa" placeholder="Pesquise por um aluno:" />
                <span class="input-group-btn"><!--Estava faltando esse span-->
                    <button type="submit" class="btn btn-info" value="Procurar" >
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>


    <div style=" padding-top: 10%;">
        {% if lista %}   
        <table class="table table-striped" style="text-align: center;" >

            <tr>
                <th class="texto_centralizado" style="color: black;">Aluno</th>
                <th class="texto_centralizado" style="color: black;">Turma</th>		

                <th></th>
                <th></th>
            </tr>
            {% for item in lista %}
            <tr>
                <td>
                    <a href="#"> {{ item.nome}} </a>

                </td>	
                <td style="color: black;">{{ item.turma }}</td>		


                <td> <a href="{% url 'escola:edita_aluno' item.id %}"> [Editar]    </a> </td>
                <td> <a href="{% url 'escola:deleta_aluno' item.id %}"> [Excluir] </a> </td>
            </tr>
            {% endfor %}	
        </table>
        {% else %}
        <p>Sem cadastros.</p>
        {% endif %}

    </div>
  
</form>

<div class="div_rodape">
  {% include "turmaApp/rodape.html" %}
</div>
