{% include "turmaApp/menu.html" %}

<form action="{% url 'escola:pesquisa_turma' %}"   method="GET" >


    <div class="jumbotron text-center">
      <h1 class="margin">Lista de Turmas</h1>
    </div>

    <div class="form-group" style="padding-top: 1%">
            <div class="input-group"><!--Estava faltando essa div-->
                <input type="text" class="form-control" name="pesquisa" placeholder="Pesquisar turma:" />
                <span class="input-group-btn"><!--Estava faltando esse span-->
                    <button type="submit" class="btn btn-info" value="Procurar" >
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>


    <div style="padding-top: 2%;">
        {% if lista %}   
        <table class="table table-striped" style="text-align: center;" >

            <tr class="info">
                <th class="texto_centralizado" style="color: black;">Turma</th>
                <th class="texto_centralizado" style="color: black;">Escola</th>
                <th class="texto_centralizado" style="color: black;">Quantidade de Alunos</th>		
                <th class="texto_centralizado" style="color: black;">Quantidade de professores</th>
                <th></th>
                <th></th>
            </tr>
            {% for item in lista %}
            <tr class="warning">
                <td>
                    <a href="{% url 'escola:detalhe_turma' item.id %}"> {{ item.nome}} </a>
                </td>
                <td style="color: black;">{{ item.escola}}</td>

                <td style="color: black;">{{ item.aluno_set.count }}</td>		
                <td style="color: black;">{{ item.professor_set.count }}</td>

                <td> <a href="{% url 'escola:edita_turma' item.id %}"> [Editar]    </a> </td>
                <td> <a href="{% url 'escola:deleta_turma' item.id %}"> [Excluir] </a> </td>
            </tr>
            {% endfor %}	
        </table>
        {% else %}
        <p>Sem cadastros.</p>
        {% endif %}

    </div>
  
</form>

<div class="div_rodape">
  {% include "turmaApp/rodape.html" %}
</div>
