<html>
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'turmaApp/bootstrap/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'turmaApp/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'turmaApp/novo.css' %}" />
        <script type="text/javascript" src="/static/turmaApp/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/turmaApp/bootstrap/js/bootstrap.js"></script>

    </head>
    <body>
        <footer class="container-fluid2 text-center">
          <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </a>
          <p> Sistema Gerenciador de Turmas - Copyright &copy; 2018 - Todos os Direitos Reservados - Desenvolvido por: Jhonatan Sousa Santiago<br/> 

          <a class="link" href="http://ww2.uft.edu.br/" target="_blank">Universidade Federal do Tocantins</a> - 

          <a class="link" href="https://palmas.uft.edu.br/grad/ccomp/" target="_blank">Ciência da Computação </a> </p>

        </footer>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    </body>


</html>
