{% include "turmaApp/menu.html" %}

<form  class="form form-inline" >

	<div class="h1">
		<div class="alert alert-success">
	    	<strong>Sucesso!</strong> Operação Realizada
	    </div>
	</div>

    <div class="h2">

	    <div class="alert alert-info" style="text-align: center; padding-top: 1%; padding-bottom:1%; text-align: center;padding-right: 10px;font-size: 10pt;">
	    	<a href="{% url 'escola:lista_turma'  %}" class="alert-link">Voltar para Lista de turmas</a>.
	  	</div>
	  	<div class="alert alert-info" style="text-align: center; padding-top: 1%; padding-bottom:1%; text-align: center;padding-right: 10px;font-size: 10pt;">
	    	<a href="{% url 'escola:lista_aluno'  %}" class="alert-link">Voltar para Lista de alunos</a>.
	  	</div>
	  	<div class="alert alert-info" style="text-align: center; padding-top: 1%; padding-bottom:1%; text-align: center;padding-right: 10px;font-size: 10pt;">
	    	<a href="{% url 'escola:lista_professor'  %}" class="alert-link">Voltar para Lista professores</a>.
	  	</div>

    </div>
</form>




<div class="div_rodape">
    {% include "turmaApp/rodape.html" %}
</div>
